#nav-dock {
    position: fixed;
    min-width: 25%;
    max-width: 75%;
    height: 3.5rem;
    top: 94vh;
    bottom: 0vh;
    left: 25%;
    right: 25%;
    border-radius: 1rem 1rem 0rem 0rem;
    box-sizing: content-box;
    background-color: #2e3440;
    padding: 0 0 1rem 0;
}

.dock-ico {
    width: 4rem;
    height: 2rem;
}
