#project-page-container {
    width: 100%;
    min-height: 90%;
    flex-flow: column;
}

#senza-project-container {
    flex-flow: column nowrap;
}

#micro_cam-project-container {
    flex-flow: column nowrap;
}
